body {
  font-family: 'Times New Roman', Times, serif;
  margin: 1em;
  padding: 0;
}
main {
  width: 450px;
  margin: 0 auto;
  padding: 1.5em;
  background-color: whitesmoke;
  border: 2px solid navy
}
h1 {
  color: navy;
}
label { 
  width: 12em;
  scroll-padding-right: 1em;
  float: left;
}
#dataInput input {
  float: left;
  width: 10em;
  margin-bottom: .2em;
}
#dataInput span {
  padding-left: .1em;
}
br {
  clear: left;
}